<h1 id='film-title'><%= @film.title %></h1>

<div id='film-show-container' class='row'>
  <div class='large-3 columns'>
  <%= image_tag('bergman-poster.jpg') %>

<!-- Ratings go here -->
  <%= render partial: "rating_section" %>

<!-- Reviews will go here -->

  <%= render partial: "review_section" %>

  </div>

  <%= render partial: "synopsis_section" %>


  <%= render partial: "new_comment_section" %>


  <%= render partial: "comment_section" %>

  </div>
