<h1 id='film-title'><%= @film.title %></h1>

<div id='film-show-container' class='row'>
  <div class='large-3 columns'>
  <%= image_tag('bergman-poster.jpg') %>

<!-- Ratings go here -->
    <h2>Score</h2>
      <div id="star-rating">
        <!-- How do I get star rating font to be white? -->
        <h4>Star rating:</h4> <%= render_stars(@film.no_of_stars) %>
        <% if logged_in? %>

          <% unless @film.has_been_rated?(current_user.id) %>

          <h5>Add a Rating:</h5>
            <div id='rating_form_div'>
            <%= form_for @rating, url: film_ratings_path(@film) do |f| %>
              <%= f.label :stars %>

              <%= f.radio_button(:stars, "1") %>
              <%= f.label(:stars, "1") %>
              <%= f.radio_button(:stars, "2") %>
              <%= f.label(:stars, "2") %>
              <%= f.radio_button(:stars, "3") %>
              <%= f.label(:stars, "3") %>
              <%= f.radio_button(:stars, "4") %>
              <%= f.label(:stars, "4") %>
              <%= f.radio_button(:stars, "5") %>
              <%= f.label(:stars, "5") %>
              <%= f.submit "Rate me!" %>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>

<!-- Reviews will go here -->
    <div class='reviews-container'>
      <h2 id='section-title'>Review</h2>
      <%= link_to 'View Reviews', film_reviews_path(@film), class: 'button' %>
      <%= link_to 'Write a Review', new_film_review_path(@film), class: 'button' %>
      <div class='review-listing-container'>
        <div class='featured-review'>
            <%= @film.reviews.first.content %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "synopsis_section" %>


  <%= render partial: "new_comment_section" %>


  <%= render partial: "comment_section" %>

  </div>
