<!-- to be centered -->

<h1 class='film-title'><%= @film.title %></h1>

<div id='film-show-container' class='row'>
  <div class='large-3 columns'>
<!-- Image Will go here -->
  <%= image_tag('bergman-poster.jpg') %>
<!-- Reviews will go here -->
    <h2 class='section-title'>Review</h2>
    <div class='review-listing-container'>
      <ul class='review-listing'>
        <% @film.reviews.each do |review| %>
        <li class='individual-review'>
          <%= review.content %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='large-9 columns synopsis-column'>
    <div class='synopsis-container'>
      <h2>Synopsis</h2>
      <p><%= @film.summary %></p>
      <!-- Link to Create New Comment -> new_film_comment_path -->
    </div>


      <div class='new-comment-button'>
        <li><%= link_to 'Create a New Comment', new_film_comment_path(@film), class: 'button' %></li>
      </div>
      <div class='create-new-comment-container'>
      </div>


    <div class='comment-listing-container'>
      <ul class='comment-listing'>
        <h2 class='comment-section-header'>Comment Section</h2>
          <% @film.comments.each do |comment| %>
        <li class='individual-comment'>
          <p><%= comment.content %><p>
          <%= link_to 'Delete Comment', "/films/#{@film.id}/comments/#{comment.id}", class: 'button delete-comment-button' %>
        </li>
          <% end %>
    <!-- Synopsis will go here -->
    <!-- Comment box will go here -->
    <!-- Comments index will go here -->
      </ul>
    </div>
</div>


