<!-- to be centered -->

<h1 class='film-title'><%= @film.title %></h1>

<div id='film-show-container' class='row'>
  <div class='large-3 columns'>
<!-- Image Will go here -->
  <%= image_tag('bergman-poster.jpg') %>

<!-- Ratings go here -->
    <h2>Score</h2>
      <div id="star-rating">
        <!-- How do I get star rating font to be white? -->
        <h4 class='star-rating-text'>Star rating:</h4> <%= render_stars(@film.no_of_stars) %>
        <% if logged_in? %>

          <% unless @film.has_been_rated?(current_user.id) %>

          <h5>Add a Rating:</h5>
            <div id='rating_form_div'>
            <%= form_for @rating, url: film_ratings_path(@film) do |f| %>
              <%= f.label :stars %>

              <%= f.radio_button(:stars, "1") %>
              <%= f.label(:stars, "1") %>
              <%= f.radio_button(:stars, "2") %>
              <%= f.label(:stars, "2") %>
              <%= f.radio_button(:stars, "3") %>
              <%= f.label(:stars, "3") %>
              <%= f.radio_button(:stars, "4") %>
              <%= f.label(:stars, "4") %>
              <%= f.radio_button(:stars, "5") %>
              <%= f.label(:stars, "5") %>
              <%= f.submit "Rate me!" %>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>

<!-- Reviews will go here -->
    <h2 class='section-title'>Review</h2>
    <li class='new-review-button'><%= link_to 'Write a Review', new_film_review_path(@film), class: 'button' %></li>
    <div class='review-listing-container'>
      <ul class='review-listing'>
        <% @film.reviews.each do |review| %>
        <li class='individual-review'>
          <%= review.content %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='large-9 columns synopsis-column'>
    <div class='synopsis-container'>
      <h2>Synopsis</h2>
      <p><%= @film.summary %></p>
      <!-- Link to Create New Comment -> new_film_comment_path -->
    </div>


      <div class='new-comment-button'>
        <li><%= link_to 'Create a New Comment', new_film_comment_path(@film), class: 'button' %></li>
      </div>
      <div class='create-new-comment-container'>
      </div>


    <div class='comment-listing-container'>
      <ul class='comment-listing'>
        <h2>Comment Section</h2>
          <% @film.comments.each do |comment| %>
        <li class='individual-comment'>
          <p><%= comment.content %><p>
          <%= link_to 'Delete Comment', "/films/#{@film.id}/comments/#{comment.id}", class: 'button delete-comment-button' %>
        </li>
          <% end %>
    <!-- Synopsis will go here -->
    <!-- Comment box will go here -->
    <!-- Comments index will go here -->
      </ul>
    </div>
</div>


