<div id="main-content" >

  <div id="categories-index-container">
  <div id="search-form-container">
    <%= form_tag search_films_path, method: :get, id:'search-form' do %>
      <p>
        <%= label_tag :search, "Search Films", id: 'search-films-label' %>
        <%= text_field_tag :search, params[:search], options = {style:"height:40px;border-radius:25px;", placeholder:"search"} %>
      </p>
      <p>
        <%= submit_tag 'Search', name: nil, class: 'button' %>
      </p>
    <% end %>
  </div>
    <div id="featured-films-container" >
      <div id="main-feature" >

      <%=video_tag('Gallows_trailer.webm', autoplay: true, loop: true, controls: true, id: 'main-feature-video')%>
      <%= link_to 'Elevator to the Gallows', '#', id: 'main-feature-link' %>
      <p></p>
      <p></p>
      </div>
        <div id="feature-2" >
          <p>feature 2</p>

        </div>
        <div id="feature-3" >
          <p>feature 3</p>
        </div>
        <div id="feature-4" >
          <p>feature 4</p>
        </div>
        <div id="titles" >
          <% @films.each do |f| %>
            <%= link_to "#{f.title}", film_path(f), class: 'categories-index-film' %>
            <br>
          <% end %>
        </div>

        </div>
      </div>

      <!-- <div id="column-container">
        <div id="column-1" >
          <p>column 1</p>
        </div>
        <div id="column-2" >
          <p>column 2</p>
        </div>
        <div id="column-3" >
          <p>column 3</p>
        </div>
      </div> -->
  </div>
</div>



