<div id='searchbar-wrapper' class='row'>
  <div class='medium-12 medium-centered columns'>
    <%= form_tag search_films_path, method: :get, id:'search-form' do %>
      <%= label_tag :search, "Search Films", id: 'search-films-label' %>
      <%= text_field_tag :search, params[:search], options = {style:"height:40px;border-radius:25px;", placeholder:"search"} %>
      <%= submit_tag 'Search', name: nil, class: 'button' %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div id='film-container' class='medium-8 columns'>
    <%=video_tag('Gallows_trailer.webm', autoplay: true, loop: true,
                              controls: true, id: 'main-feature-video')%>
    <div id="films-listing-container" class="row">
      <h3 id='categories-index-header' class='category-section-header'>Categories</h3>

      <div id="left-column" class="medium-2 columns"
        <ul id='category-film-list'>
          <% @first_ten_categories.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
        </ul>
      </div>

      <div id="center-column" class="medium-2 columns">
        <ul class="category-film-list">
          <% @second_ten_categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
        </ul>
      </div>

      <div id="right-column" class="medium-2 columns">
        <ul class="category-film-list">
          <% @third_ten_categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id='film-listing-sidebar' class='medium-4 columns'>
    <h3 class='category-section-header'>Films</h3>
    <% @films.each do |f| %>
      <p class='categories-index-listed-film'><%= link_to "#{f.title}", film_path(f), class: 'categories-index-film' %></p>
      <br>
    <% end %>
  </div>
</div>
