<!DOCTYPE html>
<html>
<head>
  <title>35MM</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

<div class="header">
  <%= render partial: 'layouts/header' %>
</div>

<%= yield %>

<div class="footer">
  <%= render partial: 'layouts/footer' %>
</div>

</body>
</html>
