<!DOCTYPE html>
<html>
<head>
  <title>35MM</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>


<nav class='top-bar' data-topbar role='navigation'>
  <ul class='title-area'>
    <li class='name'>
      <h1 id='navbar-logo'><%= link_to '35 MM', root_path %></h1>
    </li>
  </ul>

  <section class='top-bar-section'>
    <ul class='right'>
    <% if logged_in? %>
      <!-- Placeholder... these options will be reserved for trustworthy reviewers -->
    <% else %>
       <li><%= link_to 'Log In', login_path %></li>
       <li><%= link_to 'Sign Up', new_user_path %></li>
    <% end %>
  </ul>

    <ul class='left'>
      <% if logged_in? %>
        <li><%= link_to 'Categories Index', categories_path %></li>
      <% end %>
    </ul>
  </section>
</nav>

<%= yield %>

</body>
</html>
