<!DOCTYPE html>
<html>
<head>
  <title>35MM</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='top-bar' data-topbar role='navigation'>
  <ul class='title-area'>
    <li class='name'>
      <h1>35 MM</h1>
    </li>
  </ul>

  <section class='top-bar-section'>
    <ul class='right'>
    <% if logged_in? %>
      <!-- Placeholder... these options will be reserved for trustworthy reviewers -->
      <li><%= link_to 'Log In', login_path %></li>
      <li><%= link_to 'Sign Up', new_user_path %></li>
    <% end %>
  </ul>

    <ul class='left'>
      <% if logged_in? %>
        <li><%= link_to 'Categories Index', categories_path %></li>
      <% end %>
    </ul>
  </section>
</nav>

<%= yield %>

</body>
</html>
