<div class="registration-container">
  <h1 class='registration-header'>Register</h1>

  <% if @user.errors.any?  %>
    <%=  @errors.each do |f| %>
      <%= f %>
    <% end %>
  <% end %>

  <%= form_for @user, html:{ id:'new-user-form' } do |f| %>
      <div class='row'>
        <div class='medium-6 medium-centered columns'>
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email], :size => '20' %>

          <%= label_tag :username %>
          <%= text_field_tag :username, params[:username] %>

          <%= label_tag :password %>
          <%= password_field_tag :password, params[:password] %>

          <%= submit_tag "Register", class: 'button' %>
        </div>
      </div>
  <% end %>
</div>
